/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }
.clear{
	clear:both;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff;
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
}

.js body {
	overflow: hidden;
}

a{
	color: #555;
	text-decoration: none;
	outline: none;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}
.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	background: #f1103a;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.menu-panel h3 {
    font-size: 2em;
	padding: 19px;
	font-weight:300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
	text-transform: uppercase;
} 

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 1.2em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	background: #f1103a;
	border-bottom: 1px solid #dd1338;
	font-weight: 300;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a{
	background: #dd1338;
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 20px;
	left: 60px;
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	background: #f1103a;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #000;
}

.bb-custom-wrapper nav span:last-child {
	left: 40px;
}

.menu-button {
	z-index: 1000;
	left: 20px;
	top: 20px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
/*-------*/
.wrap{
	width: 88%;
	margin: 0 auto;
}
.banner {
background: url(../images/bg.jpg)no-repeat 0px 0px;
min-height:500px;
background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
}
.banner-text{
	text-align: center;
	padding-top: 8.5em;
}
.banner-text p {
color: #fff;
text-align: center;
font-size: 2em;
padding: 0.5em 0;
font-weight: 300;
}
.banner-text h1 {
font-size: 4em;
font-weight: 400;
color: #fff;
}
a.read-btn {
color: #fff;
font-size: 1.2em;
border: none;
font-weight: 400;
background: #f1103a;
outline: none;
border: none;
padding: 0.8em 2em;
-webkit-appearance: none;
margin: 1em 0;
display: inline-block;
transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
}
a.read-btn:hover{
	background: #000;
}
.banner-bottom {
text-align: center;
padding-top: 2em;
}
.banner-bottom h3 {
font-size: 2.5em;
color: #F1103A;
font-weight: 400;
}
.banner-bottom h4 {
font-size: 2em;
color:#424141;
font-weight:400;
padding-top: 0.5em;
}
.banner-bottom p,p.para {
font-size: 1em;
color: #888;
font-weight: 400;
line-height: 1.8em;
margin: 1em 0;
text-align: left;
}
p.para {
text-align: left;
}
/*--about-----*/
.about {
text-align: center;
}
.about h3 {
font-size: 2.5em;
font-weight: 400;
color: #F1103A;
}
.about h4 {
font-size: 2em;
font-weight: 400;
color: #424141;
padding: 0.5em;
}
.about p,p.sub-para {
font-size: 1em;
font-weight: 400;
color: #888;
line-height: 1.8em;
}
.second-paper {
margin: 3em 0;
}
.content h2 {
	font-weight: 300;
font-size: 3.5em;
padding: 0 0 10px;
margin-bottom: 0.7em;
text-align: left;
box-shadow: 0 10px 0 rgba(0,0,0,0.02);
text-shadow: 0 0 2px #fff;
}
.content h2 a {
	color: #F1103A;
}
h3.sec-head {
text-align: center;
font-weight: 300;
color: #000;
padding: 0;
font-size: 4em;
margin-bottom: 0.5em;
}
.no-js .content h2 {
	padding: 40px 1% 20px;
}
.second-img {
float: left;
width: 47%;
}
.second-text {
float: right;
width: 50%;
}
.mod-menu .nav.menu, .list1 ul {
margin: 0;
}
.mod-menu .nav.menu li{
	line-height:1.8em;
	list-style: none;
}
.mod-menu .nav.menu li a span {
height: 16px;
width: 15px;
background: url(../images/arrow.png) no-repeat 0px 0px;
display: inline-block;
vertical-align: middle;
margin: 0.4em 0.7em 0.6em;
}
.mod-menu .nav.menu li a {
color: #888;
font-size: 1em;
text-decoration: none;
padding: 0.2em 0;
display: block;
transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
}
.mod-menu .nav.menu li a:hover {
color:#f1103a;
padding-left:5px;
}

/*----------*/
.grid_1 {
width: 31.33333333%;
float: left;
margin: 1%;
}
.span_1.two {
margin-top: 1em;
}
.grid_1 img {
width: 100%;
-webkit-transition: 0.8s;
-moz-transition: 0.8s;
-o-transition: 0.8s;
transition: 0.8s;
}
.grid_1 img:hover{
border-top-left-radius: 3em;
-o-border-top-left-radius: 3em;
-moz-border-top-left-radius: 3em;
-webkit-border-top-left-radius: 3em;
border-bottom-right-radius: 3em;
-o-border-bottom-right-radius: 3em;
-moz-border-bottom-right-radius: 3em;
-webkit-border-bottom-right-radius: 3em;
}
.grid_1 p {
font-size: 0.95em;
color: #888;
line-height: 1.6em;
margin-top: 0.5em;
}
.grid_1 h4 {
font-size: 1.2em;
color:#f1103a;
padding-top: 0.5em;
}
/*---team---------*/
.video_frame{
	float: left;
	width: 50%;
}
.video_text{
	float: right;
	width: 46%;
}
.latest-video {
margin: 1em 0 4em 0;
}
a.more {
display: block;
font-size: 18px;
font-weight: 400;
color: #FFF;
text-transform: uppercase;
padding: 12px 12px;
cursor: pointer;
width: 31%;
background: #F1103A;
border: none;
border-bottom: 4px solid #000;
transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
-webkit-apperance: none;
outline: none;
margin: 2.5em 0;
}
a.more:hover {
	background:#000;
	border-bottom: 4px solid#F1103A;
}
h4.m_3 {
font-size: 2.5em;
text-transform: uppercase;
color: #000;
font-weight: 400;
margin: 1em 0;
}
h5.m_4 {
font-size:8em;
text-transform: uppercase;
color: #000;
line-height: 0.7em;
font-weight:300;
}
.team h3 {
text-align: center;
font-size: 2.5em;
font-weight: 400;
padding: 0em 0 0.5em 0;
color: #F1103A;

}
.team-section-grid {
	background: #fff;
	border-radius: 8px;
	margin: 0 1%;
	width: 22%;
	float: left;
}
.team-section-grid h4 {
color: #F1103A;
font-size: 1.4em;
font-weight: 500;
padding: 15px 0 8px 0;
}
.team p{
	color: #888;
	font-size: 1em;
	font-weight:400;
	text-align: center;
	line-height:1.8em;
	padding-bottom:2em;
}
.team-section-grid p{
	color: #888;
	font-size: 1.1em;
	font-weight:400;
	margin-bottom:1em;
}
.team-section-grid img {
width: 100%;
webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	cursor: pointer;
}
.team-section-grid img:hover {
border-top-left-radius:3em;
-o-border-top-left-radius:3em;
-moz-border-top-left-radius:3em;
-webkit-border-top-left-radius:3em;
border-bottom-right-radius:3em;
-o-border-bottom-right-radius:3em;
-moz-border-bottom-right-radius:3em;
-webkit-border-bottom-right-radius:3em;
}
.social-icons1 i {
	width:40px;
	height:40px;
	background: url('../images/icon.png') no-repeat 0px 0px;
	display: inline-block;
	cursor:pointer;
	webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.social-icons1 i:hover {
	border-top-left-radius:2em;
-o-border-top-left-radius:2em;
-moz-border-top-left-radius:2em;
-webkit-border-top-left-radius:2em;
	}
.social-icons1 {
	margin-bottom: 1em;
}
i.facebook{
	background-position:-4px 0px;
}
i.gplus{
	background-position:-62px 0px;
}
i.twitter{
	background-position:-123px 0px;
}
/*--------error-page----------*/
.Error-found {
padding: 0em 0 6em 0;
text-align: center;
}
.Error-found h3 {
	color: #000;
	font-size:16em;
	font-weight: 400;
	padding: 0;
}
.Error-found h3 span {
	color:#888;
}
.Error-found h4{
	color: #888;
	font-size:2.5em;
	margin: 0em 0;
	font-weight: 400;
}
.Error-found p{
	font-weight: 400;
font-size: 3em;
color: #F1103A;
padding: 0;
margin: 0 0 0.8em 0;
}
a.back {
outline: none;
font-size: 1.2em;
font-weight: 400;
padding: 0;
border: none;
color: #fff;
padding: 0.7em 1em;
background: #000;
}
a.back:hover {
background: #888;
text-decoration: none;
}
/*----*/
.contact_right {
background: #f1f1f1;
padding:2%;
}
.contact_right{
	 float: right;
	 width: 29%
}
.contact_left{
	float: left;
	width:69%;
}
.contact_left h4 {
font-size: 2em;
font-weight: 400;
color: #F1103A;
text-transform: uppercase;
}
.contact-section h3 {
	color: rgb(51, 51, 51);
	font-size: 2.9em;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 1em;
}
p.m_6 {
color: #888;
font-weight: 400;
font-size:1em;
line-height: 1.8em;
margin: 8px 0 15px 0;
}
.contact_grid.second-ad {
margin-top: 0.9em;
}
p.m_7 {
color: #888;
font-weight: 400;
font-size:1em;
line-height: 1.8em;
margin: 8px 0 15px 0;
}
.contact_grid h5 {
color: #F1103A;
font-size: 1.5em;
padding-bottom: 0.4em;
}
.contact_grid p {
color: #888;
font-weight: 400;
line-height: 1.8em;
}
.contact-top p {
	color: #000;
	font-size: 1.3em;
	font-weight: 500;
}
.contact-form_grid input[type="text"], .contact-form_grid textarea {
display: block;
width: 99%;
padding: 12px;
outline: none;
font-size: 14px;
font-weight: bold;
color: #888;
background: #FFF;
border: none;
font-weight: 400;
margin-bottom: 1em;
font-family: 'Lato', Calibri, Arial, sans-serif;
}
.contact-form_grid textarea {
height: 170px;
resize: none;
}
.contact-form_grid input[type="submit"] {
display: block;
font-size: 18px;
font-weight: 400;
color: #FFF;
text-transform: uppercase;
padding: 12px 0px;
cursor: pointer;
width: 100%;
background: #F1103A;
border: none;
border-bottom: 4px solid #AA112E;
transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
-webkit-apperance: none;
outline: none;
}
.contact-form_grid input[type="submit"]:hover{
	background:#D50B30;
}
.copy-right {
text-align: center;
padding: 2em 0;
}
.copy-right p{
	font-size: 1em;
	color: #000; 
}
.copy-right p a{
	color: #F1103A; 
}
.copy-right p a:hover{
	color: #000; 
}
/*--Responssive-----*/
@media (max-width:1440px){
	.grid_1 {
	width: 31.33333333%;
	float: left;
	margin: 1%;
	}
	.b-link-stroke .b-wrapper{
	top:6em;
	left:0;
	}
}
@media (max-width:1366px){
	.grid_1 {
	width: 31.33333333%;
	float: left;
	margin: 1%;
	}
	.b-link-stroke .b-wrapper{
	top:6em;
	left:0;
	}
	
}
@media (max-width:1280px){
	.banner-bottom h3,.about h3 {
	font-size: 2.3em;
	}
	.team h3{
		font-size: 2.9em;
	}
	.second-text {
	float: right;
	width: 47%;
	}
	h4.m_3 {
	font-size: 2.3em;
	}
	a.more {
	width: 32.5%;
	}
	.content h2 {
	font-size: 3.3em;
	}
}
@media (max-width:1024px){
	.banner {
	min-height: 400px;
	}
	.team h3{
		font-size: 2.2em;
	}
	.second-text {
	float: right;
	width: 59%;
	}
	.banner-text {
	padding-top: 6em;
	}
	.contact_right {
	float: right;
	width: 37%;
	}
	.contact_left h4 {
	font-size: 1.8em;
	}
	.banner-text h1 {
	font-size: 3.5em;
	}
	.contact_left {
	float: left;
	width: 59%;
	}
	.banner-bottom h3, .about h3 {
	font-size: 2.2em;
	}
	.banner-bottom h4,.about h4 {
	font-size: 1.8em;
	}
	h3.sec-head {
	font-size: 3.5em;
	}
	.grid_1 h4 {
	font-size: 1.1em;
	}
	.Error-found p {
	font-size: 2.7em;
	}
	.Error-found h4 {
	font-size: 2em;
	}
	.Error-found h3 {
	font-size: 14em;
	}
	.second-img img {
	width: 100%;
	}
	.second-img {
	float: left;
	width:35%;
	}
	h4.m_3 {
	font-size: 1.8em;
	}
	h5.m_4 {
	font-size: 7em;
	}
	a.more {
	width: 39.5%;
	}
	.second-img {
	float: left;
	width: 40%;
	}
	.content h2 {
	font-size: 3em;
	}
}
@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}
@media (max-width:768px){
	.banner {
		min-height: 354px;
	}
	.banner-bottom h3, .about h3 {
	font-size: 1.7em;
	line-height: 1.5em;
	}
	.banner-text h1 {
	font-size: 3em;
	}
	.banner-text p {
	font-size: 1.7em;
	}
	a.read-btn {
	font-size: 1.2em;
	padding: 0.7em 1.3em;
	}
	.banner-bottom h4,.about h4 {
	font-size: 1.5em;
	}
	.banner-bottom p, p.para, .team p, .about p, p.sub-para, p.m_6, p.m_7 {
	font-size: 1em;
	}
	h3.sec-head {
	font-size: 3.2em;
	}
	.second-img {
	float: none;
	width: 90%;
	}
	.second-text {
	float: none;
	width: 100%;
	margin-top: 2em;
	}
	.grid_1 {
	width: 47.333333%;
	float: left;
	margin: 1%;
	}
	.video_text {
	float: none;
	width: 90%;
	}
	.video_frame {
	float: none;
	width: 90%;
	}
	.grid_1.third {
	display: none;
	}
	a.more {
	width: 28.5%;
	}
	.team-section-grid {
	margin: 0 1%;
	width: 48%;
	float: left;
	}
	.contact_left {
	float: none;
	width: 100%;
	}
	.contact_right {
	float: none;
	width: 100%;
	margin-top: 2em;
	}
	.banner-bottom {
	padding-top: 1.5em;
	}
	.content h2 {
	font-size: 2.7em;
	}
}
@media (max-width:640px){
	.banner {
	min-height:288px;
	}
	.content h2 {
font-size: 2.5em;
}
	.banner-text h1 {
	font-size: 2.5em;
	}
	.banner-text p {
	font-size: 1.5em;
	}
	.banner-text {
	padding-top: 4.2em;
	}
	a.read-btn{
		font-size: 1.1em;
		padding: 0.7em 1.3em;
		margin: 0.5em 0;
	}
	.banner-bottom h3 {
	font-size: 1.8em;
	line-height: 1.5em;
	}
	.banner-bottom h4, .about h4 {
	font-size: 1.4em;
	}
	.second-paper {
	margin: 1em 0;
	}
	.team h3 {
	font-size: 1.6em;
	}
	a.more {
	width: 32.5%;
	}
	h5.m_4 {
	font-size: 6em;
	}
	.Error-found p {
	font-size: 2.5em;
	}
	.Error-found h3 {
	font-size: 12em;
	}
	.grid_1 h4 {
	font-size: 1em;
	}
	.grid_1 p {
	margin-bottom: 0.5em;
	font-size: 0.9em;
	}
}
@media (max-width:480px){
	.banner-text h1 {
	font-size: 2em;
	}
	.content h2 {
	font-size: 2.2em;
	}
	.banner-text p {
	font-size: 1.2em;
	}
	.banner {
	min-height: 236px;
	}
	.banner-text {
	padding-top: 3.2em;
	}
	.banner-bottom h3{
	font-size: 1.4em;
	line-height: 1.5em;
	}
	.banner-bottom h4, .about h4 {
	font-size: 1.1em;
	}
	.mod-menu .nav.menu li a span {
	margin: 0.4em 0.2em 0.6em;
	}
	.mod-menu .nav.menu li a {
	font-size: 0.9em;
	}
	.grid_1 {
	width: 47.333333%;
	float: left;
	margin: 1%;
	}
	.banner-bottom h3, .about h3 {
	font-size: 1.4em;
	line-height: 1.5em;
	}
	h3.sec-head {
	font-size: 3em;
	}
	.copy-right p {
	font-size: 0.97em;
	}
	.banner-bottom p, p.para, .team p, .about p, p.sub-para, p.m_6, p.m_7 {
	font-size: 0.96em;
	}
	.banner-bottom p{
		overflow: hidden;
		height: 113px;
	}
	.about p {
	overflow: hidden;
	height: 111px;
	}
	p.para{
		overflow: hidden;
		height: 84px;
	}
	.grid_1 p {
	margin-bottom: 0.5em;
	overflow: hidden;
	height: 41px;
	}
	 p.sub-para{
	 	overflow: hidden;
		height: 137px;
	 }
	 a.more {
	width: 43.5%;
	}
	h5.m_4 {
	font-size: 3em;
	}
	h4.m_3 {
	font-size: 1.6em;
	}
	.Error-found p {
	font-size: 2em;
	}
	.Error-found h4 {
	font-size: 1.8em;
	}
	.Error-found h3 {
	font-size: 11em;
	}
	.contact_left h4 {
	font-size: 1.5em;
	}
	.team p {
	overflow: hidden;
	height: 87px;
	}
}
@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}
@media (max-width:320px){
	.menu-panel {
	width: 176px;
	height: 69%;
	}
	.banner {
	min-height: 154px;
	}
	.banner-text h1 {
	font-size: 1.6em;
	}
	.grid_1 {
	width: 93.333333%;
	margin: 1%;
	text-align: center;
	}
	a.read-btn {
	font-size: 1.1em;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	}
	.banner-bottom h4, .about h4 {
	font-size: 1em;
	font-weight: 400;
	}
	.banner-bottom p, p.para, .team p, .about p, p.sub-para, p.m_6, p.m_7 {
	font-size: 1.1em;
	}
	.video_frame {
	float: none;
	text-align: center;
	width: 100%;
	}
	.banner-bottom p{
		overflow: hidden;
		height: 90px;
	}
	.copy-right p {
	font-size: 1.2em;
	line-height: 1.5em;
	}
	.wrap {
	width: 86%;
	}
	p.sub-para {
	overflow: hidden;
	height: 94px;
	}
	.about p {
	overflow: hidden;
	height: 96px;
	}
	.grid_1 p {
	font-size: 1.1em;
	}
	.team h3 {
	font-size: 1.35em;
	}
	h5.m_4 {
	font-size: 3em;
	}
	h4.m_3 {
	font-size: 1.3em;
	}
	a.more {
	width: 53.5%;
	font-size: 1.1em;
	margin: 1.2em 0;
	}
	.team-section-grid img {
	width: 88%;
	}
	.Error-found h3 {
	font-size: 9em;
	}
	 p.m_6{
	 overflow: hidden;
		height: 86px;
	 }
	 .copy-right{
	 	padding: 1em 0;
	 }
	 .grid_1 img {
	width: 75%;
	}
	.team-section-grid {
	margin: 0 1%;
	width: 98%;
	float: none;
	text-align: center;
	}
	.team-section-grid img {
		width:80%;
	}
	.team p {
	overflow: hidden;
	height: 87px;
	}
	.mod-menu .nav.menu li a {
	font-size: 1.05em;
	}
	.menu-toc li a {
	font-size: 1.3em;
	line-height: 3;
	padding: 0 20px;
	}
	.banner-bottom h3, .about h3 {
	font-size: 1.2em;
	line-height: 1.5em;
	}
	h3.sec-head {
	font-size: 2.5em;
	}
	.contact_left h4 {
	font-size: 1.3em;
	}
	.contact_grid p {
	font-size: 1.1em;
	}
}
